

<div id="search-and-btn-display">
   <!-- <input-field-for tags> -->
  <%= form_tag experiences_path, method: "get" do %>
   <%= text_field_tag(:search_term, @search, placeholder: "what?") %>
   <!-- <city-dropdown> -->
    <%= text_field_tag(:city, nil, placeholder: "where?") %>
   <!-- <category-dropdown> -->
   <%= collection_select nil, :category, Category.all, :id, :name, prompt: "All categories" %>
   <!-- <button> -->
   <%= submit_tag("Search", class: 'btn btn-default btn-lg', id: "search-btn") %>
   <% end %>
 </div>
