<!-- app/views/experience/index.html.erb -->

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background.jpg');">
  <div class="banner-content">
    <h1>Try with me</h1>
    <p>Want to try this out? </p>
    <a class="btn btn-primary btn-lg">Up for it! </a>
  </div>
</div>

<div class="wrapper" >
  <div class="container">
    <div class="row">
      <p> Experience list:</p>
      <% @experiences.each do |exp| %>
      <div class="col-xs-4" style="background-color: gray border-color: white; border-style: solid;">
        <p>wat: <%= exp.title%> </p>
        <p>descript: <%= exp.description%> </p>
        <p>city: <%= exp.city%> </p>
        <p>wnr: <%= exp.startexperience%> </p>

      </div>
      <%end%>
    </div>

    <div class="row">
      <div class="col-xs-4" style="background-color: yellow;">
        <div class="card-description">
          <p>Looking for a buddy?</p>
          <%= link_to 'create an experience', new_experience_path %>
        </div>
      </div>
    </div>
  </div>
</div>


