<!-- app/views/experience/index.html.erb -->
<div class="wrapper" id="index-all-exp">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12" >
        <h2>Try with Two</h2>
        <h4>You would like to check out
          a [movie/restaurant/exhibition/concert] </h4>
          <h5>but don't fancy to go alone? </h5>
          <h3> Find somebody with <strong>exactly</strong> the same idea! </h3>
        </div>
      </div>
    </div>
  </div>



  <div class="wrapper" id="exp-index-wrapper">
    <div class="container">
      <div class="row">

        <% @experiences.each do |exp| %>
        <div class="col-xs-12 col-sm-4">

          <div  class="card-background">
          <div class="card">

            <%= link_to experience_path(exp) do %>

            <div class="card-title">
              <h3> <%= exp.title%> </h3>
            </div>
            <br>
            <br>
            <div class="card-description">
              <p><%= exp.description%> </p>
              <p>On <%=exp.startexperience.strftime('%a, %v')%>at <%=exp.startexperience.strftime('%R') %> </p>

            </div>

            <div class="card-city">
               <h4><%= exp.city%> </h4>
            </div>

            <div id="prof-pic-index">
                <%= image_tag exp.user.facebook_picture_url, id: "creator-avatar", class: "card-user avatar"%>
            </div>

            <% end %>
          </div>
          </div>
        </div>
        <%end%>
      </div>
    </div>
  </div>

  <br>
  <%= render 'shared/subfooter'%>
  <br>

