<!-- app/views/experiences/show.html.erb -->

<div id="show-title-wrapper">
  <div id="title-exp">
    <h3> Would you like to join <strong> <%= @experience.user.first_name%> </strong> to:</h3>
    <h2><%= @experience.title%> </h2>
  </div>

  <div id="short-profile-creator">
    <%= image_tag @experience.user.facebook_picture_url, id: "creator-avatar", class: "avatar-large" %>
    <h3><%= @experience.user.first_name%>'s profile</h3>
    <%= link_to 'see profile', experiences_path %>
  </div>

</div>


<div class="wrapper" >
  <div class="container">
    <div class="row">
      <div class="col-sm-9">


              <div id="exp-show-card">

                <div class="card-title" id="card-title-show">
                  <h3> City: <%= @experience.city%> </h3>
                </div>


                <div class="card-description" id="card-description-show">

                  <h4>Description: <%= @experience.description%> </h4>
                  <p>link: <%= @experience.url %> </p>
                  <p>address: <%= @experience.address %> </p>
                  <h3>On <%= @experience.startexperience.strftime('%a, %v')%>
                   at <%= @experience.startexperience.strftime('%R') %> </h3>
                  <p>Expected duration time: <%= @experience.stopexperience%> </p>
                </div>
              </div>

      </div>


      <div class="col-sm-9">

         <br>
          <%= render 'shared/subfooter'%>
          <br>

    </div>
   </div>
  </div>
</div>

