<!-- app/views/experiences/show.html.erb -->

<div id="show-title-wrapper">
      <div id="title-exp">
        <h3> Would you like to join <strong> <%= @experience.user.first_name%> </strong> to:</h3>
        <h2><%= @experience.title%> </h2>
      </div>

      <div id="short-profile-creator">
        <%= image_tag @experience.user.facebook_picture_url, id: "creator-avatar", class: "avatar-large" %>
        <h5><%= @experience.user.first_name%>'s profile</h5>
        <%= link_to 'see profile', experiences_path %>
      </div>

</div>


<div class="wrapper" >
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12" >
          <div id="card-background">
        <div class="card" id="exp-show">
          <div class="card-category">
            <h5> Titel: <%= @experience.title%> </h5>
          </div>
          <br>
          <br>
          <div class="card-description">
            <h5> City: <%= @experience.city%> </h5>
            <p>Description: <%= @experience.description%> </p>
            <p>When: <%= @experience.startexperience%> </p>
            <p>Expected duration time: <%= @experience.stopexperience%> </p>
          </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<%= render 'shared/subfooter'%>
